*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    
}
.item{
    height: 100px;
    width: 100px;
    background-color: red;
}
.a{
    grid-column: 1;
    grid-row: 2;
    background-color: black;
}